.card-container {
    border-width: 1px;
    border-color: rgb(0 0 0 / 20%);
    border-style: solid;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width:fit-content;
}

.card {
    padding: 20px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gist-title {
    font-weight: bold;
    text-decoration: underline;
}

.gist-type {
    padding: 8px;
    border-radius: 4px;
    color: white;
}

.gist-fork-icon {
    height: 35px;
    width: 35px;
    border-radius: 6px;
    margin-left: 5px;
}

.dialog {
    display: block;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 600px;
    height: 600px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 25px;
    overflow-y: auto;
}

.close-button {
    color: rgb(red, green, blue);
    position: fixed;
    right: 25px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    
}

.file-content {
    margin-top: 50px;
    margin-left: 25px;
    
}